body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}


.Hero-page__container {
    width: 100%;
    background-color: #fffef9;
    background-image: linear-gradient(to top, #ffffff 0%, #fff9df 100%);

}

/* */
.Header__cloud {
    display: inline-flex;
    justify-content: center;
    width: 286px;
    height: 63px;
    background: url(../img/holder.png) no-repeat center;
    color: #0d3e60;
    margin-top: 60px;
    margin-left: 7%;

}

.Header__cloud__text-item1 {
    margin-top: 15px;
}

.Header__cloud__text-item2 {
    margin-top: 15px;
    font-weight: 700;
    margin-left: 3px;
}

.Header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}


.Header__promises-counter__item1 {
    width: 68px;
    height: 19px;
    color: #0d3e60;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 19.25px;
}

.Header__promises-counter__item2 {
    width: 73px;
    height: 18px;
    color: #0d3e60;
    font-size: 16px;
    font-weight: 300;
}

.Hero-page {
    position: relative;
}

.Hero-page__decor-cloudfaces {}

.Hero-page__decor-item1 {
    position: absolute;
    top: 120px;
    left: 10%;
}

.Hero-page__decor-item2 {
    position: absolute;
    top: 75px;
    right: 13%;
}

.Hero-page__invite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hero-page__invite__icon {
    width: 79px;
    height: 84px;
}

.Hero-page__invite span {
    color: #eb5238;
    font-size: 20px;
    font-weight: 300;
    margin-top: 35px;
}

.Hero-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hero-page__content__title {
    width: 640px;
    margin: 20px auto;
    text-align: center;
    color: #0d3e60;
    font-size: 36px;
    font-weight: 700;
}

.Hero-page__content__emails {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Hero-page__content__emails a {
    text-decoration: none;
    color: #0d3e60;
    font-weight: 700;
    font-size: 16px;
}

.Hero-page__content__email1,
.Hero-page__content__email2 {
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #eb5238;
    font-size: 22px;
    font-weight: 700;
}

.Hero-page__content__email1 {
    text-align: right;
}

.Hero-page__content__button {
    border: none;
    margin: 0 35px;
    width: 91px;
    height: 113px;
    background: url(../img/heart.png) no-repeat center;
}

.Hero-page__message {
    display: flex;
    flex-direction: column;
}

.Hero-page__message-desc {
    display: flex;
    justify-content: center;
    color: #0d3e60;
    font-weight: 300;
    margin-top: 40px;
}

.Hero-page__message-text {
    background: url(../img/Scroll_background.png) no-repeat center;
    background-size: contain;
    text-align: center;
    line-height: 165px;
    color: #8d8b80;
    font-size: 18px;
    font-weight: 500;
}

.Hero-page__illustration {
    width: 100%;
    height: 402px;
    background: url(../img/Hero-page__bottom-bg.png) no-repeat center;
    background-size: contain;

}

.Main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.Main__illustration {
    width: 50%;
    height: 600px;
    background: url(../img/illustration.png) no-repeat left; 
    background-size: contain;
}

.Main__invitation-info {
}

.Main__invitation-info h2 {
    color: #0d3e60;
    font-size: 30px;
    font-weight: 700;
}

.Main__invitation-info p {
    margin: 30px 0;
    width: 545px;
    height: 108px;
    color: #0d3e60;  
    font-weight: 400;
    line-height: 30px;
}
.Main__invitation-info ul {
    color: #0d3e60;
    font-weight: 500;
    line-height: 36px;
    list-style: none;
    margin-right: 20px;
}

.Main__invitation-info li {
 position: relative;  
 margin-left: 30px; 
}


.Main__invitation-info ul ::before {
    position: absolute;
    content: url(../img/tickbox.png) ;
    margin-left: -40px;
    top: 10px;

    
}